.product-sections-wrapper {
  padding: 70px 0 130px;
}

.product-separator-wrapper {
  margin: 130px 0 70px;
}

/**
 * Hero
 */

.product-hero-inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1190px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.product-hero-image {
  max-width: 565px;
  width: 100%;
  max-height: 565px;
  height: 100%;
  object-fit: cover;
  background-color:#f6f6f6;
}

.product-hero-content {
  max-width: 565px;
  width: 100%;

  @media (max-width: 1190px) {
    margin-top: 30px;
  }
}

.product-hero-name {
  font-family: $font-mono;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.786;
}

.product-hero-rich-content {
  margin-top: 20px;
  font-family: $font-mono;
  font-size: 16px;
  line-height: 2.5;

  h2 {
    &:not(:first-child) {
      margin-top: 20px;
    }

    font-size: 22px;
    font-weight: 700;
    line-height: 1.818;
  }

  p:not(:first-child) {
    margin-top: 10px;
  }

  ul {
    &:not(:first-child) {
      margin-top: 10px;
    }

    padding-left: 30px;
  }
}

.product-hero-button-wrapper {
  margin-top: 40px;
}

/**
 * Description
 */

.product-description-title {
  margin-top: 130px;
  font-family: $font-mono;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.786;
}

.product-description-content {
  margin-top: 30px;
  font-family: $font-mono;
  font-size: 17px;
  line-height: 2.353;

  p:not(:first-child) {
    margin-top: 20px;
  }
}
